/* Палітра кольорів
основний бекфон #F5F5F5 
основний фон #ffffff
другорядний фон #2F303A

основний текст #757575
заголовки #212121
ссилки\кнопки #2196F3 ; #FFFFFF ; #212121
лого #2196F3 ; #000000 ; #FFFFFF
*/

:root {
--logo-accsent: #000000;
--background-basis: #F5F5F5;
--primary-background-color: #ffffff;
--secondary-background-color: #2F303A;
--primary-text-color: #757575;
--titel-text-color: #212121;
--accsent-color: #2196F3;
--secondary-ac-color: #ffffff;
--button-color: #F5F4FA;
--text-link-footer: hexa {#ffffff60};
--
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    font-family: roboto, sans-serif;
}
/* Шапка */

    /* Лого */
.logo{
    color:var(--accsent-color) ;
    
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-head{
    color:var(--logo-accsent) ;
}
.logo-footer{
    color: var(--secondary-ac-color);
}

    /* Навігація */
.site-nav{
    list-style: none;
}
.site-nav .link {
    color: var(--titel-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;

    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accsent-color);
}
.link-nav .link:active {
    color: var(--accsent-color);
}
.site-auth{
    list-style: none;
}
.site-auth .link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;

    text-decoration: none;
}
.site-auth .link:hover, 
.site-auth .link:focus {
    color: var(--accsent-color);
}

/* Основний контент */
    /* Герой */
.hero {
    background-color: var(--secondary-background-color);
}
.hero .button {
    background-color: var(--accsent-color);
    color: var(--secondary-ac-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}
.hero.text{
    color: var(--secondary-ac-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-transform:uppercase;
    text-align:center;
    letter-spacing: 6%;
}
    /* Кнопки */
.button {
    background-color: var(--button-color);
    color: var(--titel-text-color);
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.button:hover,
.button:focus {
    background-color: var(--accsent-color);
    color: var(--secondary-ac-color);
    cursor:pointer;
}
    /* Наповнення */
.list{
    list-style: none;
}
.team {
    background-color: var(--background-basis);
}
.title {
    color: var(--titel-text-color);
}
.title.specialty{
    font-size: 36px;
    line-height: 1.17;
}
.title.projects{
    font-size: 18px;
    line-height: 2;
}
.title.name-specialty {
    color: var(--titel-text-color);

    font-size: 14px;
    line-height: 1.14;
}
.title.name {
    color: var(--titel-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
}
.text.name-specialty{
    font-size: 14px;
    line-height: 1.7;
}
.post-name {
    font-size: 16px;
    line-height: 1.2;
}
.format-projects {
    font-size: 16px;
    line-height: 1.87;
}
/* Підвал */
.footer {
    background-color:var(--secondary-background-color) ;
}
.address-link{
    list-style: none;
}
.address-link .link{
    color: var(--secondary-ac-color);

    font-size: 14px;
    line-height: 1.7;

    text-decoration: none;
}
.link.tel,
.link.mail {
    color: var(--text-link-footer);
}