/* Палітра кольорів
основний бекфон #F5F5F5 
основний фон #ffffff
другорядний фон #2F303A

основний текст #757575
заголовки #212121
ссилки\кнопки #2196F3 ; #FFFFFF ; #212121
лого #2196F3 ; #000000 ; #FFFFFF
*/

:root {
--primary-background-color: #ffffff;
--secondary-background-color: #2F303A;
--primary-text-color: #757575;
--titel-text-color: #212121;
--accsent-color: #2196F3;
--secondary-ac-color: #ffffff;
--button-color: #F5F4FA;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    font-family: roboto, sans-serif;
}
/* Шапка */

    /* Лого */
.logo{
    color:var(--accsent-color) ;
}

.logo-head{
    color:#000000 ;
}
.logo-footer{
    color: #ffffff;
}

    /* Навігація */
.site-nav .link {
    color: var(--titel-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accsent-color);
}
.link-nav .link:active {
    color: var(--accsent-color);
}
.site-auth .link {
    color: var(--primary-text-color);
}
.site-auth .link:hover, 
.site-auth .link:focus {
    color: var(--accsent-color);
}

/* Основний контент */
    /* Герой */
.hero {
    background-color: var(--secondary-background-color);
}
.hero .button {
    background-color: var(--accsent-color);
    color: var(--secondary-ac-color);
}
.hero.text{
    color: var(--secondary-ac-color);
}

    /* Наповнення */

    
/* Підвал */
.footer {
    background-color:var(--secondary-background-color) ;
}